<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app version="2.4">
<display-name>Sint10 P3</display-name>
<description>Servlet Práctica 3 (Sint10)</description>
<servlet>
<servlet-name>Sint10P3</servlet-name>
<servlet-class>Sint10P3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Sint10P3</servlet-name>
<url-pattern>/IM3</url-pattern>
</servlet-mapping>
</web-app>
